/*
* @Author: Administrator
* @Date:   2016-03-14 22:53:02
* @Last Modified by:   Administrator
* @Last Modified time: 2016-04-14 10:34:17
*/
@charset "utf-8";
/* 简单reset */
body,  p,  ul, ol, li {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
img { border:none; }
img {
    vertical-align: top;
}
a,button{ outline: none; }
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
/* 具体样式 */
.banner {
    width: 100%;
    position: relative;
    height: 500px;
    overflow: hidden;
}
.banner .bannerCon {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1920px;
    height: 500px;
    margin-left: -960px;
    overflow: hidden;
}
.bannerCon .imgList {
    position: absolute;
    top: 0;
    left: 0;
    width: 3840px;
    height: 500px;
}
.bannerCon .imgList div {
    float: left;
    width: 1920px;
    height: 500px;
}
.bannerCon .imgList div a {
    position: relative;
    display: block;
    height: 100%;
}
.bannerCon .imgList div img {
    width: 1920px;
    height: 500px;
}
.slider-main-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 500px;
}

.slider-ctrl {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 10px;
}
.slider-ctrl-con {
    width: 10px;
    height: 10px;
    display:inline-block;
    background:url(../images/index/banner1_03.png) no-repeat;
    background-size: 100%  100%;
    margin: 0 5px;
    cursor: pointer;
    text-indent: -20em;
    overflow: hidden;
}
.current {
    background:url(../images/index/banner2_03.png) no-repeat;
}
.slider-ctrl-prev,
.slider-ctrl-next {
    position: absolute;
    top: -272px;

    width: 45px;
    height: 86px;
    opacity: 0.8;
    cursor: pointer;
}
.slider-ctrl-prev {
    left: 60px;
    background:url(../images/index/jiantou_left.png);
}
.slider-ctrl-next {
    right: 60px;
    background:url(../images/index/jiantou_right.png);
}
/* mobile banner */


.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
    width: 100%;
    display: none;
}
.swipe img{
    width: 100%;
    // height: 300px;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > div {
    float:left;
    width:100%;
    position: relative;
}
.circle{
    width: 100%;
    height: 2.5em;
    position: absolute;
    bottom: 0;
    left: 0;
}
.circle ul{
    list-style: none;
    position: absolute;
    left: 50%;
    bottom: 0.7em;
    margin-left: -28px;
}
.circle ul li{
    float: left;
    width: 8px;
    height: 8px;
    background: url('../images/index/banner1_03.png');
    background-size: 100% 100%;
    margin-right: 8px;
    border-radius:4px;
    cursor: pointer;
}
.circle ul li.cur{
    background: url('../images/index/banner2_03.png');
    background-size: 100% 100%;
}
/* 左右按钮*/
.leftgo {
    width: 11px;
    height: 20px;
    background: url('../images/index/left.png');
    position: absolute;
    top: 40%;
    left:10px;
    margin-top: 10px;
}
.rightgo {
    width: 11px;
    height: 20px;
    background: url('../images/index/right.png');
    position: absolute;
    top: 40%;
    right:10px;
    margin-top: 10px;
}

